<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResultFile="/tmp/opencode/phpunit.result.cache"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_KEY" value="base64:mkU0hGrQN/LleE18YrHu5B4rcAxZQMM7D3Ox+SP4mpw=" force="true"/>
        <env name="BCRYPT_ROUNDS" value="4" force="true"/>
        <env name="CACHE_DRIVER" value="array" force="true"/>
        <env name="DB_CONNECTION" value="mysql" force="true"/>
        <env name="DB_HOST" value="mariadb" force="true"/>
        <env name="DB_PORT" value="3306" force="true"/>
        <env name="DB_DATABASE" value="laravel_test" force="true"/>
        <env name="DB_USERNAME" value="laravel" force="true"/>
        <env name="DB_PASSWORD" value="laravel" force="true"/>
        <env name="LOG_CHANNEL" value="null" force="true"/>
        <env name="AUTH_LOG_LEVEL" value="info" force="true"/>
        <env name="MAIL_MAILER" value="array" force="true"/>
        <env name="PULSE_ENABLED" value="false" force="true"/>
        <env name="QUEUE_CONNECTION" value="sync" force="true"/>
        <env name="SESSION_DRIVER" value="array" force="true"/>
        <env name="SESSION_ENCRYPT" value="false" force="true"/>
        <env name="TELESCOPE_ENABLED" value="false" force="true"/>
        <env name="RECAPTCHA_SITE_KEY" value="" force="true"/>
        <env name="RECAPTCHA_SECRET" value="" force="true"/>
        <env name="VIEW_COMPILED_PATH" value="/tmp/opencode/laravel-test-views" force="true"/>
    </php>
</phpunit>
